<form novalidation name="form">
  <p class="main-instruction" ng-show="nextState == 'createGame'">
    Before creating a game, select a nickname:
  </p>
  <p class="main-instruction" ng-show="nextState == 'staging'">
    Before joining the game, select a nickname:
  </p>
  <p class="main-instruction" ng-show="nextState != 'staging' && nextState != 'createGame'">
    Select a nickname:
  </p>
  <input type="text" name="playerName" ng-model="playerName"></input></p>
  <small class="suggestion">e.g. Snake Enchanter</small>
  <button type="button" class="action" ng-click="createPlayer()" ng-disabled="form.$invalid">Continue</button>
</form>
