<div class="logo-small"></div>

<p class="main-instruction" ng-show="nextState.name == 'createGame'">
  Before creating a game,<br class="hidden-md hidden-lg"> select your nickname
</p>
<p class="main-instruction" ng-show="nextState.name == 'game'">
  Before joining the game, select your nickname
</p>
<p class="main-instruction" ng-show="nextState.name != 'game' && nextState.name != 'createGame'">
  Select your nickname
</p>

<form novalidation role="form" name="form">
  <div class="form-group">
    <input class="form-control" type="text" name="playerName" ng-model="playerName" autofocus></input></p>
  </div>

  <br>
  <br>

  <input id="create-player" type="submit" class="action" ng-click="createPlayer()" ng-disabled="form.$invalid" value="Continue">
  <a class="action" ui-sref="landing">Cancel</a>
</form>
