<div class="logo-small">
  <div class="menu-toggle" ng-click="menu()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
</div>
<ui-view>
  <p ng-show="!isCreator" class="main-instruction">
    The game will start once <span class="light-blue">{{ creator.name }}</span> clicks begin!
  </p>

  <div ng-show="isCreator">
    <p class="secondary-instructions" ng-show="players.length >= 2">Wait for everyone to join, then</p>
    <p class="secondary-instructions" ng-show="players.length < 2">This game requires two or more players</p>
    <a id="begin-game" class="action" ng-click="startGame()" ng-disabled="players.length < 2">Begin Game</a>
  </div>

  <br>
  <br>

  <p class="secondary-instruction">Invite your friends by sharing a link to the current page</p>
  <p id="share-link">{{ link }}</a>

  <p class="secondary-instruction">Currently in game:</p>
  <ul class="player-list">
    <li ng-repeat="p in players">{{ p.name }}</li>
  </ul>
</ui-view>
