<div class="logo-big"></div>
<br>
<small class="light-blue">Inspired by <em>Cards Against Humanity&#0153;</em></small>
<p class="main-instruction">Gather is a group word game.</p>

<div class="btn-w-instruction">
  <a id="new-game" class="action" ui-sref="createGame">New Game</a>
</div>

<div class="btn-w-instruction">
  <a id="join-game" class="action" ui-sref="joinGame">Join Game</a>
</div>

<footer>
  <ul>
    <li><a>about</a></li>
    <li><a>business</a></li>
    <li><a>terms &amp; privacy</a></li>
  </ul>
</footer>
