<div class="logo-big"></div>

<div>
  <p class="main-instruction">A ____ game to play with friends.</p>
  <ul class="highlight">
    <li>Word</li>
    <li>Social</li>
    <li>Comical</li>
    <li>Happy</li>
    <li>Ridiculous</li>
    <li>Simple</li>
  </ul>
</div>

<div class="btn-w-instruction">
  <button class="action" type="button">New Game</button>
  <p>Have an account? <a class="login">login</a></p>
</div>

<footer>
  <ul>
    <li><a>about</a></li>
    <li><a>business</a></li>
    <li><a>terms &amp; privacy</a></li>
  </ul>
</footer>
