<div class="logo-big"></div>

<div>
  <p>Inspired by <span>Cards Against Humanity&#0174;</span></p>
  <p class="main-instruction">Gather is a hilarious<br>group word game</p>
  <p class="main-instruction accent">Best played in person!</p>
</div>

<div class="btn-w-instruction">
  <a id="new-game" class="action" ui-sref="createGame">New Game</a>
</div>

<div class="btn-w-instruction">
  <a id="join-game" class="action" ui-sref="joinGame">Join Game</a>
</div>

<footer>
  <ul>
    <li><a>about</a></li>
    <li><a>business</a></li>
    <li><a>terms &amp; privacy</a></li>
  </ul>
</footer>
