@import "../_vendor/bootstrap/less/variables.less";
@import "../_vendor/bootstrap/less/mixins.less";
@import "variables.less";

@import "../_vendor/bootstrap/less/normalize.less";
@import "../_vendor/bootstrap/less/print.less";
@import "../_vendor/bootstrap/less/glyphicons.less";

@import "../_vendor/bootstrap/less/scaffolding.less";
@import "../_vendor/bootstrap/less/type.less";
@import "../_vendor/bootstrap/less/code.less";
@import "../_vendor/bootstrap/less/grid.less";
@import "../_vendor/bootstrap/less/tables.less";
@import "../_vendor/bootstrap/less/forms.less";
@import "../_vendor/bootstrap/less/buttons.less";

a {
    text-decoration: none;
}

body {
    background-color: @brand-background;
    color: @brand-dark-blue;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    text-align: center;
}


.main-instruction {
    font-size: 140%;
    font-weight: bold;
}

.light-blue { 
    color: @brand-light-blue;
}

.yellow { 
    color: @brand-yellow;
}

footer {
    ul {
        font-size: 80%;
        text-align: center;
        list-style: none;
        li {
            display: inline;
            a {
                color: desaturate(darken(@brand-background, 30%), 50%);
            }
        }
        li:not(:first-child):before {
            content: " | ";
            color: desaturate(darken(@brand-background, 15%), 50%);
        }
    }
}

.btn-w-instruction {
    margin-bottom: 6px;
    display: block;
    p {
        margin-top: 6px;
        font-weight: bold;
        font-size: 120%;
    }
}

a.login {
    text-decoration: underline;
}

button.action,
a.action {
    font-family: "swingdancer", "Helvetica Neue", "Helvetica";
    .btn();
    .btn-block();
    font-size: 180%;
    background-color: @brand-dark-blue;
    color: @brand-yellow;
    &:hover {
        background-color: fadeout(@brand-dark-blue, 10%);
        color: @brand-yellow;
    }
}

.logo-big {
    margin-top: 20px;
    background-image: url('/static/img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 72px;
}

