{% extends "game_mock.html" %}

{% block meta_sub %}
  <meta name="description" content="How would you respond: '{{ prompt.text }}'?">

  <meta property="og:url" content="http://gather.gg{{ request.get_full_path }}">
  <meta property="og:title" content="How would you respond?">
  <meta property="og:description" content="{{ prompt.text }}">
  <meta property="og:image" content="http://gather.gg/static/img/logo_no_word.png">
{% endblock %}

{% block scripts_top %}
<script>
  var shareHand = (function() {
    var title = "{{ prompt.text }}";
    var url = "http://gather.gg{{ request.get_full_path }}";
    var params = {
     text: title,
     url: url,
     hashtags: ["gather"],
     related: ["Gathergg:Be the first to know when we add new decks or features."],
    };
    return {
      twitter: gather.tweetService.tweet("reshare hand", params),
      facebook: gather.facebookService.share("reshare hand", {t: title, u: url})
    };
  })();

</script>
{% endblock %}

{% block mock %}
<p class="secondary-instruction pull-down">Prompted with</p>
<p class="prompt">{{ prompt.text }}</p>

<p class="secondary-instruction pull-down">Which response would you pick?</p>

<ul id="choices">
  {% for card in cards %}
  <li>
    <a class="action-card" href="/share/prompt/{{ prompt.id }}/choice/{{ card.id }}/after/">{{ card.text }}</a>
  </li>
  {% endfor %}
</ul>

<div>
  Share on
  <a href="#" class="img-twitter" onclick="shareHand.twitter()"></a>
  or
  <a href="#" class="img-facebook" onclick="shareHand.facebook()"></a>.
</div>
{% endblock %}
