{% extends "game_mock.html" %}

{% block meta_sub %}
  <meta name="description" content="Gather is a comical word game for friends to play when they're together. Invite friends by sharing a link, no account or app download required!">

  <meta property="og:url" content="{{ request.get_full_path }}">
  <meta property="og:title" content="Gather: Thanks for voting!">
  <meta property="og:description" content="Gather is a comical word game for friends to play when they're together. Invite friends by sharing a link, no account or app download required!">
  <meta property="og:image" content="http://gather.gg/static/img/logo_no_word.png">
{% endblock %}

{% block mock %}
  <p class="prompt">{{ prompt.text }}</p>
  <p class="secondary-instruction pull-down">The winners are</p>
  {% for card in cards %}
  <p class="prompt-sm text-left">{{ card.text }} <span class="light-blue" style="float: right; display: inline-block;">{{ card.num_votes }}</span></p> 
  {% endfor %}

  <div>
    Share on
    <a href="#" class="img-twitter" onclick="shareGroupchoices.twitter()"></a>
    or
    <a href="#" class="img-facebook" onclick="shareGroupchoices.facebook()"></a>.
  </div>
  <br>

  <p class="main-instruction">
    Gather is a comical group word game<br class="visible-md-block visible-lg-block"> for friends to play when they're together.
  </p>
  <br>
  <a class="action" href="/g/"><span class="light-blue">Play now</span></a>
  <a class="action" href="/">Learn more</a>
{% endblock %}

{% block scripts_bottom %}
<script>
  var shareGroupchoices = (function() {
    var title = "{{ prompt.text }}";
    var url = "{{ share_link }}";
    var params = {
     text: title,
     url: url,
     hashtags: ["gather"],
     related: ["Gathergg:Be the first to know when we add new decks or features."],
    };
    return {
      twitter: gather.tweetService.tweet("reshare group choices", params),
      facebook: gather.facebookService.share("reshare group choices", {t: title, u: url})
    };
  })();
</script>
{% endblock %}
