{% extends "game_mock.html" %}

{% block meta_sub %}
  <meta name="description" content="These were the responses to: {{ prompt.text }}">

  <meta property="og:url" content="http://gather.gg{{ request.get_full_path }}">
  <meta property="og:title" content="Which would you vote for?">
  <meta property="og:description" content="These were the responses to: {{ prompt.text }}">
  <meta property="og:image" content="http://gather.gg/static/img/logo_no_word.png">
{% endblock %}

{% block mock %}
<p class="secondary-instruction pull-down">Below are everyone's responses to</p>
<p class="prompt">{{ prompt.text }}</p>

<p class="secondary-instruction pull-down">Which response would you vote for?</p>

<ul id="choices">
  {% for card in cards %}
  <li>
    <form action="." method="post">
      {% csrf_token %}
      <input type="number" name="answer" value="{{ card.id }}" style="display: none;">
      <input type="submit" class="action-card" value="{{ card.text }}">
    </form>
  </li>
  {% endfor %}
</ul>

{% endblock %}
