{% extends "game_mock.html" %}

{% block meta_sub %}
  <meta name="description" content="These were the responses to: {{ prompt.text }}">

  <meta property="og:url" content="http://gather.gg{{ request.get_full_path }}">
  <meta property="og:title" content="Which would you vote for?">
  <meta property="og:description" content="These were the responses to: {{ prompt.text }}">
  <meta property="og:image" content="http://gather.gg/static/img/logo_no_word.png">
{% endblock %}

{% block scripts_top %}
<script>
  var shareGroupchoices = (function() {
    var title = "{{ prompt.text }}";
    var url = "http://gather.gg{{ request.get_full_path }}";
    var params = {
     text: title,
     url: url,
     hashtags: ["gather"],
     related: ["Gathergg:Be the first to know when we add new decks or features."],
    };
    return {
      twitter: gather.tweetService.tweet("reshare group choices", params),
      facebook: gather.facebookService.share("reshare group choices", {t: title, u: url})
    };
  })();

</script>
{% endblock %}

{% block mock %}
<p class="secondary-instruction pull-down">Below are everyone's responses to</p>
<p class="prompt">{{ prompt.text }}</p>

<p class="secondary-instruction pull-down">Which response would you vote for?</p>

<ul id="choices">
  {% for card in cards %}
  <li>
    <a class="action-card" href="/share/prompt/{{ prompt.id }}/groupchoices/{{ card.id }}/after/">{{ card.text }}</a>
  </li>
  {% endfor %}
</ul>

<div>
  Share on
  <a href="#" class="img-twitter" onclick="shareGroupchoices.twitter()"></a>
  or
  <a href="#" class="img-facebook" onclick="shareGroupchoices.facebook()"></a>.
</div>
{% endblock %}
