{% extends "game_mock.html" %}


{% block scripts_top %}
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>

    var matchNum = 0;
    var numFunny = 0;
    var matches = [
      {% for m in matches %}
      {
        text: "{{ m.text|safe|escapejs }}",
      },
      {% endfor %}
    ];

    var nextMatch = function(isFunny) {

      // mark formset entry row as funny
      var checkbox = $('#id_form-' + matchNum + '-funny').attr('checked', isFunny);

      numFunny = numFunny + (isFunny ? 1 : 0);
      matchNum++;

      if (matchNum === matches.length) {
        $('#vote-buttons').hide();
        $('#is-active-buttons').show();
      } else {
        var selector = '#{{ match_class }}';
        $(selector).text(matches[matchNum].text);
        $('#out-of').text(matchNum);
        $('#funny').text(numFunny);
      }
    };

    funny = function() {
      nextMatch(true);
    };

    notFunny = function() {
      nextMatch(false);
    };

    next = function(isActive) {
      // TODO: set field to active or inactive
      $('#should_be_active').attr('checked', isActive);
      $('#validate-form').submit();
    };

  </script>
{% endblock %}


{% block mock %}
  <p class="main-instruction">
    Validated Against <span id="funny">0</span> / <span id="out-of">0</span>
  </p>
  <p class="prompt" id="prompt">{{ prompt }}</p>
  <p class="prompt" id="response">{{ response }}</p>

  <form id="validate-form" action="" method="post" style="display: none;">
    {% csrf_token %}
    {{ formset }}
    <input id="should_be_active" name="should_be_active" type="checkbox">
  </form>

  <div id="vote-buttons">
    <button class="action" type="button" onclick="funny()">Funny</button>
    <button class="action" type="button" onclick="notFunny()">Not funny</button>
  </div>
  
  <div id="is-active-buttons" style="display: none;">
    <p class="main-instruction">How good is the card?</p>
    <button class="action" type="button" onclick="next(true)">Good enough</button>
    <button class="action" type="button" onclick="next(false)">Doesn't cut it</button>
  </div>
{% endblock %}

