<p class="prompt">{{ prompt }}</p>

<p class="secondary-instruction pull-down">Choose a response from your hand</p>

<ul id="choices">
  <li ng-repeat="(cardIndex, card) in hand">
    <a class="action-card reverse-animation" ng-click="play(card.id, cardIndex)" ng-class="{locked: playedIndex===cardIndex}">
      <span class="light-blue" ng-show="cardIndex === currentSelected">Click Again to Confirm</span>
      <span ng-hide="cardIndex === currentSelected">{{ card.text }}</span>
    </a>
  </li>
</ul>

<div>
Share your hand on
<a href="#" class="img-twitter" ng-click="shareHand.twitter()"></a>
on
<a href="#" class="img-facebook" ng-click="shareHand.facebook()"></a>.
</div>
