<p class="secondary-instruction">
<span ng-show="round === undefined">Game starts in 
  <span class="countdown">{{ countdown }}</span>
</span>
<span ng-show="round !== undefined">Next round starts in 
  <span class="countdown">{{ countdown }}</span>
</span>
</p>

<div ng-show="haveLastRoundDetails">
  <div ng-show="!tie && perfectWin">
    <span class="secondary-instruction">{{winAdjective}} win by <span class="light-blue">{{ winners[0].name }}</span> with</span><br>
    <p class="prompt-sm">{{ winners[0].response }}</p>
  </div>

  <div ng-show="!tie && !perfectWin">
    <span class="secondary-instruction">The winner is <span class="light-blue">{{ winners[0].name }}</span> with</span><br>
    <p class="prompt-sm">{{ winners[0].response }}</p>
  </div>

  <div ng-show="tie">
    <div ng-repeat="w in winners">
      <span class="secondary-instruction"><span class="light-blue">{{ w.name }}</span> tied with</span><br>
      <p class="prompt-sm">{{ w.response }}</p>
    </div>
  </div>
</div>

<p class="main-instruction">Score</p>
<table class="score-table">
  <tr ng-repeat="p in score">
    <td>{{ p.name }}</td>
    <td>{{ p.score }}</td>
    <td>{{ getDifferential(p.id) }}</td>
  </tr>
</table>
