<p class="prompt">{{ prompt }}</p>

<p class="secondary-instruction pull-down">Vote for a response</p>
<p class="secondary-instruction text-danger pull-down" ng-hide="insult === null">{{ insult }}</p>

<ul id="responses">
  <li ng-repeat="(responseIndex, response) in responses">
  <a class="action-card" ng-click="vote(response, responseIndex)" ng-class="{locked: votedIndex===responseIndex}">{{ response.card.text }}</a>
  </li>
</ul>

<div>
  Share the responses on
  <a href="#" class="img-twitter" ng-click="shareGroupchoices.twitter()"></a>
  or
  <a href="#" class="img-facebook" ng-click="shareGroupchoices.facebook()"></a>.
</div>
