<p class="prompt">{{ prompt }}</p>

<p class="secondary-instruction pull-down">Vote for a response</p>
<p class="secondary-instruction text-danger pull-down" ng-hide="insult === null">{{ insult }}</p>

<ul id="responses">
  <li ng-repeat="r in responses">
    <a class="action-card" ng-click="vote(r)">{{ r.card.text }}</a>
  </li>
</ul>

<div>
  Share the responses on
  <p class="img-twitter" ng-click="shareGroupchoices.twitter()"></p>
  or
  <p class="img-facebook" ng-click="shareGroupchoices.facebook()"></p>.
</div>
