<p class="prompt">{{ prompt }}</p>

<p class="secondary-instruction pull-down">Vote for a response</p>

<ul id="responses">
  <li ng-repeat="(responseIndex, response) in responses">
  <a class="action-card" ng-click="vote(response, responseIndex)" ng-class="{locked: votedIndex===responseIndex}">
    <span ng-show="responseIndex === currentSelected" class="light-blue">
      <span ng-show="response.player === you">{{ insult }}</span>
      <span ng-show="response.player !== you">Click Again to Confirm</span>
    </span>
    <span ng-hide="responseIndex === currentSelected">{{ response.card.text }}</span>
  </a>
  </li>
</ul>

<div>
  Share the responses on
  <a href="#" class="img-twitter" ng-click="shareGroupchoices.twitter()"></a>
  or
  <a href="#" class="img-facebook" ng-click="shareGroupchoices.facebook()"></a>.
</div>
