<p class="main-instruction" ng-show="currentState === 'app.game'">
  Before joining the game, select your nickname
</p>
<p class="main-instruction" ng-show="currentState !== 'game' && currentState !== 'createGame'">
  Select your nickname
</p>

<form novalidation role="form" name="form">
  <div class="form-group" ng-class="{'has-error': !validNickname}">
    <input ng-model="p.name" class="form-control" type="text" name="playerName" autofocus ng-class="{'text-danger': !validNickname}">
    <small class="light-blue">
      <span ng-show="validNickname">Use the suggestion, or write your own</span>
      <span ng-hide="validNickname" class="text-danger">Your nickname is too short</span>
    </small>
  </div>

  <input id="create-player" type="submit" class="action" ng-click="createPlayer()" ng-disabled="!validNickname" value="Continue">
  <a class="action" ng-click="$dismiss()">Cancel</a>
  <a class="link secondary-instruction" ng-click="$dismiss('logging in instead')">
    Have an account?
  </a>
</form>
