<div class="logo-small">
  <div class="menu-toggle" ng-click="menu()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
</div>
<ui-view>
  <p ng-show="!isMaster" class="main-instruction">
    The game will start once <span class="light-blue">{{ master.name }}</span> clicks begin!
  </p>

  <div ng-show="isMaster">
    <p class="secondary-instruction pull-down" ng-show="players.length >= 3">Wait for everyone to join, then</p>
    <p class="secondary-instruction pull-down text-danger" ng-show="players.length < 3">This game requires three or more players</p>
    <a id="begin-game" class="action" ng-click="startGame()" ng-class="{'locked': startGame.lock}" ng-hide="players.length < 3">Begin Game</a>
  </div>

  <p class="secondary-instruction pull-down">
  Friends can join the game by visiting
  </p>
  <p id="share-link">{{ link }}</p>

  <div class="row">
    <div class="col-xs-6">
      <a class="action-card" ng-click="showShareHelp()" ng-class="{'locked': showShareHelp.lock}">Help</a>
    </div>
    <div class="col-xs-6">
      <a class="action-card" ng-click="showQRCode()" ng-class="{'locked': showQRCode.lock}">QR Code</a>
    </div>

  <br>
  <p class="secondary-instruction pull-down">Currently in game</p>
  <ul class="player-list">
    <li ng-repeat="p in players">{{ p.name }}</li>
  </ul>
</ui-view>
