<div class="logo-small">
  <div class="menu-toggle" ng-click="menu()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
</div>
<ui-view>
  <p ng-show="!isMaster" class="main-instruction">
    The game will start once <span class="light-blue">{{ master.name }}</span> clicks begin!
  </p>

  <div ng-show="isMaster">
    <p class="secondary-instruction pull-down" ng-show="players.length >= 2">Wait for everyone to join, then</p>
    <p class="secondary-instruction pull-down text-danger" ng-show="players.length < 2">This game requires two or more players</p>
    <a id="begin-game" class="action" ng-click="startGame()" ng-disabled="players.length < 2">Begin Game</a>
  </div>

  <p class="secondary-instruction pull-down">
  Friends can join the game by visiting
  </p>
  <p id="share-link">{{ link }}</p>
  <a class="action-card" ng-click="showShareHelp()">Tell me a trick to make this easier</a>

  <br>
  <p class="secondary-instruction pull-down">Currently in game</p>
  <ul class="player-list">
    <li ng-repeat="p in players">{{ p.name }}</li>
  </ul>
</ui-view>
