<div class="logo-big"></div>
<br>

<p class="main-instruction">
  Gather is a comical group word game<br class="visible-md-block visible-lg-block"> for friends to play when they're together.
</p>

<a id="new-game" class="action" ui-sref="app.createGame">New Game</a>

<a id="join-game" class="action" ui-sref="app.joinGame">Join Game</a>

<p ng-show="player !== null" class="secondary-instruction">
  Hello <span class="light-blue">{{player.name}}</span>!
  <a class="link" href="#" ng-click="logout()">Logout</a>
</p>
<p ng-show="player === null" class="secondary-instruction">
  Have an account? <a class="link" ng-click="login()">Login</a>
</p>

<footer>
  <ul id="business-links">
    <li><a href="/">home</a></li>
    <li><a href="mailto:info@gather.gg?subject=I%20Love%20Gather">contact</a></li>
    <li><a href="/terms">terms &amp; privacy</a></li>
  </ul>
</footer>
