<div class="logo-big"></div>
<br>
<p class="main-instruction">Gather is a group word game.</p>

<a id="new-game" class="action" ui-sref="app.createGame">New Game</a>

<a id="join-game" class="action" ui-sref="app.joinGame">Join Game</a>

<p ng-show="player !== null" class="secondary-instruction">
  Hello <span class="light-blue">{{player.name}}</span>!
  <a class="link" href="#" ng-click="logout()">Logout</a>
</p>

<!--
<footer>
  <ul id="business-links">
    <li><a href="#">about</a></li>
    <li><a href="#">business</a></li>
    <li><a href="#">terms &amp; privacy</a></li>
  </ul>
</footer>
-->
