<div class="logo-big"></div>
<br>
<small class="light-blue">Inspired by <em>Cards Against Humanity&#0153;</em></small>
<p class="main-instruction">Gather is a group word game.</p>

<a id="new-game" class="action" ui-sref="app.createGame">New Game</a>

<a id="join-game" class="action" ui-sref="app.joinGame">Join Game</a>

<p ng-show="player !== null" class="secondary-instruction">
  Hello <span class="light-blue">{{player.name}}</span>!
  <a class="link" href="#" ng-click="logout()">Logout</a>
</p>

<footer>
  <ul id="business-links">
    <li><a href="#">about</a></li>
    <li><a href="#">business</a></li>
    <li><a href="#">terms &amp; privacy</a></li>
  </ul>
</footer>


<div>
Share your win on
<a href="#" class="img-twitter" ng-click="win.twitter()"></a>
or
<a href="#" class="img-facebook" ng-click="win.facebook()"></a>.
</div>
<br>
<div>
Share your hand on
<a href="#" class="img-twitter" ng-click="hand.twitter()"></a>
on
<a href="#" class="img-facebook" ng-click="hand.facebook()"></a>.
</div>
<br>
Share the responses on
<p class="img-twitter" ng-click="groupchoices.twitter()"></p>
or
<p class="img-facebook" ng-click="groupchoices.facebook()"></p>.
<br>
Share your response
<p class="img-twitter" ng-click="mychoice.twitter()"></p>
or
<p class="img-facebook" ng-click="mychoice.facebook()"></p>.

