<p class="secondary-instruction">You are <span class="light-blue">{{player.name}}</span></p>
<ul class="list-unstyled">
  <li>
  <a class="action-card" href="mailto:info@gather.gg?subject=In%20Game%20Feedback%20[{{player.id}}]">Tell us we Suck</a>
  </li>
  <li ng-repeat="item in menu">
    <a class="action-card" ng-click="item.action().then($dismiss);" ng-class="{locked: item.action.lock}">{{item.title}}</a>
  </li>
</ul>
<a style="margin-top: 10px;" class="action-card" ng-click="close()"><span class="light-blue">Back to Game</span></a>
