<div class="logo-big"></div>
<br>

<div ng-hide="showError">
  <form novalidation role="form">
    <div class="form-group" ng-class="{'has-error': !validPassword}" style="margin-bottom: 5px;">
      <p class="pull-down pull-left secondary-instruction">New Password</p>
      <input 
          ng-model="p.newPassword"
          class="form-control"
          autofocus
          type="password">
    </div>
    <div class="row text-muted">
      <small ng-class="{'light-blue': hasLowerCaseLetter}">Lowercase Letter</small> &middot;
      <small ng-class="{'light-blue': hasUpperCaseLetter}">Uppercase Letter</small> &middot;
      <small ng-class="{'light-blue': hasNumber}">Number</small><span class="hidden-xs"> &middot;</span><br class="hidden-sm hidden-md hidden-lg">
      <small ng-class="{'light-blue': hasSpecial}">Special Character</small> &middot;
      <small ng-class="{'light-blue': longEnough}">Long Enough</small>
    </div>
    <br>

    <input type="submit" class="action" ng-click="resetPassword()" ng-disabled="!validPassword" value="Reset Password">
  </form>
</div>

<div ng-show="showError">
  <p class="main-instruction text-danger">It appears this token has already been used.</p>
  <a class="action" ui-sref="app.landing">Continue</a>
</div>

