<h3 class="message">Inviting Players</h3>
<div class="text-left">
  <p>
  Each game of Gather has a "join link".  Your friends can join the game by visiting this link.
  </p>

  <p>
  Most browsers have a "share" button, which will allow you to send your contacts the link easily.  On iOS the share button is a square with an arrow coming out.  On Android, the share button either has three little circles connected by two lines or is a circle with two arrows coming out of it.
  </p>

  <p>
  As a last resort, you can simply ask your friends to type the link directly into their browser.
  </p>
</div>
<br>
<a class="action" ng-click="$dismiss()">Close</a>

