<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    {% block meta %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Gathergg">
    <meta name="twitter:image" content="http://gather.gg/static/img/logo@2x.png">
    {% block meta_sub %}
    <meta name="description" content="Gather is a comical group word game that is played on your phones, instead of with cards. Invite friends by sharing a link, no account or app download required!">
    <meta property="og:title" content="Gather: Be the first to play">
    <meta property="og:site_name" content="Gather">
    <meta property="og:url" content="http://gather.gg">
    <meta property="og:description" content="Gather is a comical group word game that is played on your phones, instead of with cards. Invite friends by sharing a link, no account or app download required!">
    <meta property="og:image" content="http://gather.gg/static/img/logo_no_word.png">
    {% endblock %}
    {% endblock %}
    <meta property="fb:app_id" content="715081898572414">
    <meta property="fb:admins" content="7957627">

    <title>{% block title %}Gather{% endblock %}</title>

    <script>
      {% if debug %}
      window['ga-disable-UA-51682843-1'] = true;
      {% endif %}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-51682843-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="/static/_vendor/underscore/underscore.js"></script>
    <script src="/static/_dist/gather.js"></script>


    <script>
      (function() {
        if (window.__twitterIntentHandler) return;
        var intentRegex = /twitter\.com(\:\d{2,4})?\/intent\/(\w+)/,
            windowOptions = 'scrollbars=yes,resizable=yes,toolbar=no,location=yes',
            width = 550,
            height = 420,
            winHeight = screen.height,
            winWidth = screen.width;
        function handleIntent(e) {
          e = e || window.event;
          var target = e.target || e.srcElement, m, left, top;
          while (target && target.nodeName.toLowerCase() !== 'a') {
            target = target.parentNode;
          }
          if (target && target.nodeName.toLowerCase() === 'a' && target.href) {
            m = target.href.match(intentRegex);
            if (m) {
              left = Math.round((winWidth / 2) - (width / 2));
              top = 0;
              if (winHeight > height) {
                top = Math.round((winHeight / 2) - (height / 2));
              }
              window.open(target.href, 'intent', windowOptions + ',width=' + width + ',height=' + height + ',left=' + left + ',top=' + top);
              e.returnValue = false;
              e.preventDefault && e.preventDefault();
            }
          }
        }
        if (document.addEventListener) {
          document.addEventListener('click', handleIntent, false);
        } else if (document.attachEvent) {
          document.attachEvent('onclick', handleIntent);
        }
        window.__twitterIntentHandler = true;
      }());
    </script>

    {% block scripts_top %}
    {% endblock %}

    {% block style %}
      <link rel="stylesheet" type="text/css" href="/static/_dist/index.css">
    {% endblock %}
  </head>

  {% block body %}
  <body ontouchstart="">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
  {% endblock %}

  {% block scripts_bottom %}
  {% endblock %}
</html>
