{% extends "base.html" %}

{% block content %}
<h1>Terms of Service and Privacy</h1>
<div class="text-left">
<p>We are still working on our terms of service.  In the mean time assume that:</p>
<ul>
  <li>None of your data is private (we don't even have <a href="http://en.wikipedia.org/wiki/HTTP_Secure" target="_blank">HTTPS</a> setup yet)</li>
  <li>We will use all your data to improve the game</li>
  <li>We own full rights to all the code, content, and goodness on this site</li>
</ul>
<p>Eventually we will tone this down some, once we have more time.</p>
</div>
{% endblock %}

